/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


$body-background-color: #fff;

$text-color-1:          #000;
$text-color-2: 			#00ff33;
$text-color-3:  		#a3a3a3;

$link-color-off: 		#cc0000;
$link-color-on: 		#00ff33;

$input-text-color: 		$text-color-1;

$text-font-1:  			Arial, Helvetica, sans-serif;
$text-font-custom:		'Futura W01 Light', sans-serif;
$text-font-custom-bold: 'Futura W01 Heavy', sans-serif;
$text-font-custom-book: 'Futura W01 Book', sans-serif;


$base-font-size: 		16px;
$base-width:            960;