/*------------------------------------*\
    $RESET

	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
.is-visible {
  visibility: visible !important; }

.is-hidden {
  display: none;
  visibility: hidden !important; }

/*input*/
.fill-parent {
  width: 100%; }

/*------------------------------------*\
    $MIXINS/FONTS - Mixins for fonts
\*------------------------------------*/
h1 {
  font-family: "Futura W01 Heavy", sans-serif;
  font-size: 3.75em;
  letter-spacing: 0.3em;
  text-transform: uppercase; }

/*------------------------------------*\
    $BASE
\*------------------------------------*/
html, body {
  height: 100%; }

body {
  background: white;
  font-family: "Futura W01 Light", sans-serif;
  font-size: 16px; }

.container {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #00d6a1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

/*------------------------------------*\
    $MODULES
\*------------------------------------*/
header > div:first-child {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%; }
  header > div:first-child:last-child {
    margin-right: 0; }
header > div .profile {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0 0 -10px;
  border-radius: 15px; }
  header > div .profile:last-child {
    margin-right: 0; }
  header > div .profile div .headline {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
    header > div .profile div .headline:first-child {
      margin-top: 0; }
  header > div .profile div.image {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 15.25424%; }
    header > div .profile div.image:last-child {
      margin-right: 0; }
    header > div .profile div.image img {
      height: 80px;
      width: 80px; }
  header > div .profile div.info {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 23.72881%;
    color: #000; }
    header > div .profile div.info:last-child {
      margin-right: 0; }
  header > div .profile div.skills {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 40.67797%; }
    header > div .profile div.skills:last-child {
      margin-right: 0; }
    header > div .profile div.skills .skill {
      float: left;
      font-size: 10px;
      margin-right: 4px; }
      header > div .profile div.skills .skill:first-letter {
        font-weight: bold;
        font-size: 12px; }
header > div .logo {
  margin: 10px; }
header > div h1 {
  font-size: 16px;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff; }
header > div .info {
  margin-left: 20px;
  color: #fff;
  font-size: 12px; }

section {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  background-color: #00d6a1; }
  section:last-child {
    margin-right: 0; }

.industries {
  width: 100%; }
  .industries .svg {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    .industries .svg:last-child {
      margin-right: 0; }
  .industries .industry-list {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%;
    border-top: 1px solid #007356;
    border-bottom: 1px solid #007356;
    font-size: 10px; }
    .industries .industry-list:last-child {
      margin-right: 0; }
    .industries .industry-list .item {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 23.72881%;
      margin: 5px;
      cursor: pointer; }
      .industries .industry-list .item:last-child {
        margin-right: 0; }
      .industries .industry-list .item:nth-child(n4) {
        margin-right: 0; }
      .industries .industry-list .item:hover, .industries .industry-list .item.active {
        background-color: #007356;
        color: #fff; }
      .industries .industry-list .item .color {
        min-width: 25px;
        min-height: 25px;
        color: #fff;
        display: inline-block;
        line-height: 25px;
        text-align: center; }
      .industries .industry-list .item .name {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 3px; }

.connections {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%;
  min-height: 300px;
  margin-top: 10px; }
  .connections:last-child {
    margin-right: 0; }
  .connections .download {
    background-color: #00d6a1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d6a1), color-stop(100%, #007356));
    background-image: -webkit-linear-gradient(#00d6a1, #007356);
    background-image: linear-gradient(#00d6a1, #007356);
    height: 30px;
    background-color: #999;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    display: none;
    width: 97.8%; }
    .connections .download a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase; }
  .connections .connection {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 32.20339%;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    margin: 2px;
    min-height: 90px;
    padding: 5px;
    position: relative; }
    .connections .connection:last-child {
      margin-right: 0; }
    .connections .connection:nth-child(n3) {
      margin-right: 0; }
    .connections .connection.active {
      background-color: #00d6a1;
      color: #fff; }
      .connections .connection.active .industry {
        background-color: #007356;
        color: #fff; }
    .connections .connection:hover {
      box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4); }
    .connections .connection .industry {
      font-weight: bold;
      font-size: 11px;
      margin-bottom: 10px;
      background-color: #D6EAF4;
      text-indent: 3px;
      padding: 3px 2px; }
    .connections .connection img {
      float: left;
      height: 80px;
      width: 80px;
      margin-right: 3px; }
    .connections .connection a {
      color: inherit;
      text-decoration: none; }
    .connections .connection span {
      font-size: 11px;
      font-weight: bold; }
    .connections .connection .position {
      margin-top: 10px;
      font-size: 11px;
      overflow: hidden; }

.active-connections {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%;
  position: relative; }
  .active-connections:last-child {
    margin-right: 0; }
  .active-connections .names {
    min-height: 50px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 0;
    position: absolute;
    left: -10px;
    top: 10px;
    width: 305;
    height: auto;
    font-size: 11px;
    border: 1px solid #007356;
    padding-left: 20px; }
    .active-connections .names .item {
      width: 263px;
      margin: 5px 0;
      background-color: #fff;
      border: 1px solid #04859D;
      height: 52px; }
      .active-connections .names .item img {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 3px; }
      .active-connections .names .item p {
        float: left;
        margin-top: 3px; }
