header {
	h1 {
		font-size: 20px;
		margin: 20px;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-weight: bold;
	}

	.info {
		margin-left: 20px;
	}
}

.industries {
	@include fill-parent();

	.svg {
		@include span-columns(12);			
	}

	.industry-list {
		@include span-columns(12);
		border-top:1px solid #999;
		border-bottom:1px solid #999;
		font-size: 10px;
		
		.item {
			@include span-columns(3);
			@include omega(n4);
			margin:5px;
			cursor: pointer;

			&:hover {
				background-color: #D6EAF4;
			}

			.color {
				min-width: 25px;
				min-height: 25px;
				color:#fff;
				display: inline-block;
				line-height: 25px;
				text-align: center;		
			}

			.name {
				display: inline-block;
				vertical-align: middle;
				margin:0 0 0 3px;

			}
		}
	}
}

.connections {
	@include span-columns(8);
	min-height:300px;
	background-color: #f3f1ec;

	.download {
		@include fill-parent();
		height:30px;
		background-color: #999;
		color:#fff;
		text-align: center;
		font-size: 20px;
		line-height: 25px;
		display:none;

		a {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
		}
	}

	.connection {
		@include span-columns(4);
		@include omega(n3);
		background-color: #fff;
		border-radius: 5px;
		color: #000;
		border:1px solid #000;
		margin: 20px;
		min-height: 90px;
		padding:5px;
		position: relative;

		&:hover {
			@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
		}

		.industry {
			font-weight: bold;
			font-size: 12px;
			margin-bottom:10px;
			background-color: #D6EAF4;
			text-indent: 3px;
		}

		img {
			float:left;
			height: 80px;
			width: 80px;
			margin-right: 3px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.profile {
	@include span-columns(4);
	background-color: #f3f1ec;
	min-height:300px;
	padding:10px;
	
	img,
	div {
		@include span-columns(2 of 4);
	}

	img {
		height: 80px;
		width: 80px;
	}

	.headline {
		margin-top: 10px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}
	}

	.skills {	
		.skill {
			float:left;
			font-size: 10px;
		}
	}
}